<?xml version="1.0" encoding="UTF-8"?>
<Server port="8005" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />

  <!-- Global JNDI resources
       Documentation at /docs/jndi-resources-howto.html
  -->
  <GlobalNamingResources>
	<Resource name="jdbc/test"
		auth="Container"
		type="javax.sql.DataSource"
		username="test"
		password=""
		driverClassName="org.postgresql.Driver"
		url="jdbc:postgresql://localhost:5432/test"
		maxTotal="8"
		maxIdle="4"/>
  </GlobalNamingResources>
  
  <Service name="Catalina">

    <Connector port="8080" protocol="HTTP/1.1"
               connectionTimeout="20000" />
    <Engine name="Catalina" defaultHost="localhost">		

		<Realm className="org.apache.catalina.realm.DataSourceRealm"
		   dataSourceName="jdbc/test"
		   userTable="users" userNameCol="user_name" userCredCol="user_pass"
		   userRoleTable="user_roles" roleNameCol="role_name"/>
		   
      <Host name="localhost"  appBase="webapps"
            unpackWARs="true" autoDeploy="true">

      </Host>
    </Engine>
  </Service>
</Server>
